
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    display: none; /* Hidden by default */

    &.open{
      display: block; /* Hidden by default */
    }
    &.closed{
      display: none; /* Hidden by default */
    }

    .delete-note-modal {
      height: 280px;
      width: 456px;
      background-color: white;
      border-radius: 10px;
      margin: auto;
      margin-top: 110px;
      box-sizing: border-box;
      padding-top: 22px;
      position: relative;
      
      .input {
        display: block;
        padding: 20px 40px;
        color: #667d99;
      }


      .controls {
        position: absolute;
        height: 100px;
        width: 456px;
        display: flex;
        background-color: #fafafa;
        flex-wrap: wrap;
        font-size: 24px;
        padding: 20px 40px;
        box-sizing: border-box;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        position: absolute;
        bottom: 0px;
        justify-content: space-between;
        
        button {
          margin: 0;
          position: relative;
          height: 49px;
          width: 112px;
          color: white;
          border-radius: 5px;
          right: auto;
          border: transparent;
          font-size: 14px;
          cursor: pointer;
        }

        .cancel {
          background-color: #d2d3d4;
        }
        .confirm {
          background-color: #56b6bf;
        }
      }
    }

}
