.header {
  background: rgba($color: #1f2532, $alpha: 1.0);
  height: 100px;
  
  button {
    background-color: #56b6bf;
    height: 50px;
    width: 166px;
    color: white;
    border-radius: 5px;
    border: none;
    position: absolute;
    right: 20px;
    margin: 25px 100px;
    cursor:pointer;
    font-size: 14px;
  }
}