
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    display: none; /* Hidden by default */

    &.open{
      display: block; /* Hidden by default */
    }
    &.closed{
      display: none; /* Hidden by default */
    }

    .new-note-modal {
      height: 755px;
      width: 691px;
      background-color: white;
      border-radius: 10px;
      margin: auto;
      margin-top: 110px;
      box-sizing: border-box;
      padding-top: 22px;
      position: relative;

      &.red {
        border-top: solid 11px #faa9b0;
      }
      &.blue {
        border-top: solid 11px #aeccfb;
      }
      &.yellow {
        border-top: solid 11px #fbdbae;
      }
      &.green {
        border-top: solid 11px #b5ecd1;
      }

      .palette {
        height: 40px;  
        padding-left: 40px;
        display: flex;

        .swatch {
          margin: 4px;
          height: 22px;
          width: 22px;
          cursor: pointer;
          font-size: 0px;
          border: none;
        }
        .red {
          background-color: #faa9b0;
        }
        .blue {
          background-color: #aeccfb;
        }
        .yellow {
          background-color: #fbdbae;
        }
        .green {
          background-color: #b5ecd1;
        }
      }

      .input {
        display: block;
        padding: 20px 40px;

        .title {
          border: none;
          width: 600px;
          font-size: 26px;
        }
        .content {
          border: none;
          width: 600px;
          height: 500px;
          font-size: 14px;
        }
      }

      .controls {
        position: absolute;
        height: 100px;
        width: 691px;
        display: flex;
        background-color: #fafafa;
        flex-wrap: wrap;
        font-size: 24px;
        padding: 20px 40px;
        box-sizing: border-box;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        position: absolute;
        bottom: 0px;
        justify-content: space-between;
        
        button {
          margin: 0;
          position: relative;
          height: 49px;
          width: 112px;
          color: white;
          border-radius: 5px;
          right: auto;
          border: transparent;
        }

        .cancel {
          background-color: #d2d3d4;
        }
        .confirm {
          background-color: #56b6bf;
        }
      }
    }

}
