.note {
  border: solid 1px black;
  width: 334px;
  height: 289px;
  border-radius: 5px;
  margin: 11px;

  .title {
    display: flex;
    max-height: 60px;
    border-bottom: solid 1px lightgrey;
    border-top: solid 6px grey;
    padding-left: 21px;

  }
  .content {
    padding: 21px;
  }
}