.note {
  border: solid 1px lightgrey;
  width: 334px;
  height: 289px;
  border-radius: 5px;
  margin: 11px;
  box-shadow: 0 10px 6px -6px lightgrey;
  background-color: #ffffff;

  .title {
    display: flex;
    max-height: 60px;
    border-bottom: solid 1px lightgrey;
    padding-left: 21px;
    color: #4e6776;
    position: relative;
    align-items: center;
  }

  .note-controls {
    position: absolute;
    right: 20px;
  }

  button {
    border: none;
    color: #dcddde;
  }
  button:hover {
    border: none;
    color: #66c4cc;
    cursor: pointer;
  }

  .content{
    padding: 21px;
    color: #9fa8b0;
  }

  &.red {
    border-top: solid 6px #faa9b0;
  }
  &.blue {
    border-top: solid 6px #aeccfb;
  }
  &.yellow {
    border-top: solid 6px #fbdbae;
  }
  &.green {
    border-top: solid 6px #b5ecd1;
  }
}